@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css class */
.active{
    @apply font-bold tracking-wide text-black transition-colors duration-200
  }
  
  .default{
    @apply font-bold tracking-wide text-black transition-colors duration-200 hover:bg-black
  }
.my-container {
  @apply max-w-[2520px] xl:px-28 md:px-10 sm:px-2 px-4
}

/* Reset CSS */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  box-sizing: border-box;
}

.btn-color {
  @apply bg-[#0076CE] text-white hover:bg-[#0465ae] border-none;
}

.primary_color {
 @apply text-[#0076CE];
}

.bg_primary {
 @apply bg-[#0076CE] text-white;
}